* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general_page_wrapper {
    width: 100%;
    max-width: 1244px;
    height: 100vh;
    margin: 0 auto;
}

.general_page_wrapper1 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}




/*services*/
.freelancers {
    width: 100%;
    margin-bottom: 100px;
}
.services_wrapper {
    /*max-width: 1244px;*/
    width: 100%;
    margin: 0 auto;
}

.services_search_box_logo_wrapper {
    background: #F3F5F6;
    width: 100%;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_search_box_logo {
    width: 118px;
    height: 45px;
    position: relative;
}
.services_search_box_logo Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services_search_box {
    max-width: 702px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services_search_input_field {
    display: flex;
    border: 1px solid #33333399;
    background: #ffffff;
    border-radius: 5px;
    align-items: center;
    padding: 12px 17px;
    width: 100%;
    margin-right: 17px;
}

.services_search_input {
    border: none;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    width: 90%;
}
.services_search_input::placeholder {
    color: #33333399;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.services_search_box_buttons_wrapper {
    display: flex;
    align-items: center;
    max-width: 320px;
    justify-content: space-between;
    width: 100%;
}

.services_search_box_search_button {
    background: #FF6C00;
    height: 50px;
    width: 100%;
    max-width: 120px;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    color: #F3F5F6;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_search_box_map_button {
    height: 50px;
    width: 100%;
    max-width: 120px;
    border: 2px solid #FF6C00;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    color:  #333333;
    font-size: 15px;
    font-weight: 500;
    background: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_search_box_filter_button {
    width: 50px;
    height: 50px;
    border: 2px solid #FF6C00;
    border-radius: 6px;
    background: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services_search_input_field_icon {
    height: 15px;
}

#freelancers_page .services_items_wrapper {
    width: 100%;
}

.services_item {
    width: 49%;
    background: #F5F5F5;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 15px;
}

.services_item_name {
    font-family: "Inter", sans-serif;
    color: #636363;
    font-weight: 400;
    font-size: 14px;
}
.services_item_address_info {
    font-family: "Inter", sans-serif;
    color: #636363;
    font-weight: 400;
    font-size: 14px;
}
.services_item_info {
    font-family: "Inter", sans-serif;
    color: #222222;
    font-size: 18px;
    margin-bottom: 36px;
    font-weight: 600;
}
.services_item_pirce_date_info_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_item_pirce_wrapper {
    background: #FF6C00;
    /*width: 111px;*/
    /*height: 30px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px 16px;
}


.services_item_pirce_info {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #ffffff;
}

.services_item_date_hour_title_icon_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    justify-content: flex-end;
}

.services_item_date_hour_title_icon_wrapper_title {
    color: #636363;
    margin-right: 7px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.services_item_date_hour_info_wrapper {
    display: flex;
    align-items: center;
}
.services_item_date_hour_info1 {
    color: #636363;
    margin-right: 2px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.services_item_date_hour_info2 {
    color: #636363;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}



.services_filter_items_wrapper {
    width: 100%;
    max-width: 240px;
}
.services_items_wrapper {
    max-width: 925px;
    width: 100%;
}

.services_items_filter_main_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.services_filter_item {
    width: 100%;
    margin-bottom: 28px;
    border-bottom: 0.5px solid #63636399;
    padding-bottom: 30px;
}

.service_label_checkbox_input_field {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.service_label_custom_checkbox {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6C00;
    border-radius: 2px;
    margin-right: 10px;
    position: relative;
}

.service_label {
    display: flex;
    align-items: center;
}

.service_label {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.checkbox:checked + .customCheckbox {
    background-color: #FF6C00;
}

.service_label .customCheckbox:after {
    position: absolute;
    content: '';
     background: url("../images/check_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 8px 6px;
    width: 8px;
    height: 6px;
}

.service_category_item {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #63636380;

}
.category_item {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #63636380;

}

.category_item_title_icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.category_item_title {
    font-family: "Inter", sans-serif;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
}
.category_item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.category_item_subcategory {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    cursor: pointer;
}
.category_item_subcategory_check_box {
    border: 1px solid #FF6C00;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.category_item_subcategory_check_box:after {
    position: absolute;
    content: '';
    background: url("../images/check_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 8px 6px;
    width: 8px;
    height: 6px;
    opacity: 0;
}
.category_item_subcategory_check_box.active {
    background: #FF6C00!important;
}
.category_item_subcategory_check_box.active:after {
    opacity: 1!important;
}

.category_item_subcategory_title {
    font-family: "Inter", sans-serif;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
}

.category_item_icon_rotate svg {
    transform: rotate(-180deg);
}

.category_item_subcategories_list_wrapper {
    width: 100%;
    margin-top: 18px;
}

@media (min-width: 769px) and (max-width: 1290px) {
    .general_page_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }

}
@media  (max-width: 769px) {
    .general_page_wrapper {
        max-width: unset!important;
        width: 100%!important;
        padding: 0 20px;
    }
}



@media (min-width: 926px) and (max-width: 1250px) {
 #freelancers_page .services_filter_items_wrapper {
        max-width: unset!important;
        width: 21% !important;
    }
    .services_items_wrapper {
        max-width: unset!important;
        width: 76% !important;
    }
}

@media (min-width: 926px) and (max-width: 980px) {
    .services_search_box_logo_wrapper {
        padding: 30px 20px!important;
    }
    .services_search_box {
        max-width: 580px!important;
    }
    .services_search_box_search_button {
        max-width: 100px!important;
    }
    .services_search_box_map_button {
        max-width: 100px!important;
    }
}
.mobile_services_search_box {
    display: none;
}

@media (max-width: 926px) {


    .services_search_box_buttons_wrapper {
        max-width: unset!important;
    }

    .services_search_input_field {
        height: 38px;
        flex: 1;
    }
    .mobile_services_search_box {
        display: block!important;
        width: 100%;
    }
    .services_search_input_field_btn_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .services_search_input_field {
        margin-right: 10px!important;
    }
    .services_search_box {
        display: none!important;
    }
    .services_search_box_logo {
        display: none!important;
    }
    .services_items_filter_main_wrapper {
        flex-wrap: wrap;
    }
    #freelancers_page .services_filter_items_wrapper {
        display: none!important;
    }
    .services_items_wrapper {
        max-width: unset!important;
        width: 100% !important;

    }
    .services_search_box_search_button {
        background: #FF6C00;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 6px;
        cursor: pointer;

    }
    .services_search_box_map_button {
        height: 38px;
        width: 48%;
        border: 2px solid #FF6C00;
        border-radius: 6px;
        font-family: "Inter", sans-serif;
        color:  #333333;
        font-size: 14px;
        font-weight: 500;
        background: none;
        cursor: pointer;
        outline: none;
        max-width: unset!important;
    }
    .services_search_box_filter_button {
        height: 38px;
        width: 48%;
        border: 2px solid #FF6C00;
        border-radius: 6px;
        font-family: "Inter", sans-serif;
        color:  #333333;
        font-size: 14px;
        font-weight: 500;
        background: none;
        cursor: pointer;
        outline: none;
    }
}



@media (max-width: 622px) {
    .services_item {
        width: 100% !important;
    }
}
@media (min-width: 425px) and (max-width: 880px) {
    .services_search_box_logo_wrapper {
        padding: 20px!important;
        margin-bottom: 35px!important;
    }

}
@media (min-width: 350px) and (max-width: 425px) {
    .pagination_links_wrapper {
        width: 100%;
        max-width: 320px!important;
    }

    .pagination_link_title {
        font-size: 14px!important;
    }
    .pagination_link {
        width: 34px!important;
        height: 34px!important;
    }
    .pagination_link_btn {
        width: 34px!important;
        height: 34px!important;
    }
    .services_search_box_logo_wrapper {
        padding: 12px!important;
        border-radius: 15px!important;
        margin-bottom: 25px!important;
    }
}
@media (max-width: 350px) {
    .pagination_links_wrapper {
        width: 100%;
        max-width: 270px!important;
    }

    .pagination_link_title {
        font-size: 12px!important;
    }
    .pagination_link {
        width: 30px!important;
        height: 30px!important;
    }
    .pagination_link_btn {
        width: 30px!important;
        height: 30px!important;
    }
    .services_search_box_logo_wrapper {
        padding: 12px!important;
        border-radius: 15px!important;
        margin-bottom: 25px!important;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .services_item {
        margin-bottom: 20px!important;
    }
    .services_item_info {
        font-size: 16px!important;
    }
    .services_item_date_hour_title_icon_wrapper_title {
        font-size: 15px!important;
    }
    .services_item_date_hour_info1 {
        font-size: 15px!important;
    }
    .services_item_date_hour_info2 {
        font-size: 15px!important;
    }

    .recommendations_title {
        font-size: 28px!important;
        margin-bottom: 20px!important;
    }
    .services_search_input {
        font-size: 15px!important;
    }
    .services_search_input::placeholder {
        font-size: 15px!important;
    }
    .services {
        margin-bottom: 40px!important;
    }
    .recommendations {
        margin-bottom: 40px!important;
    }
    .top {
        margin-bottom: 40px!important;
    }
}

@media (max-width: 375px) {
    .services {
        margin-bottom: 40px!important;
    }
    .recommendations {
        margin-bottom: 40px!important;
    }
    .top {
        margin-bottom: 40px!important;
    }
    .services_item {
        margin-bottom: 15px!important;
    }
    .services_item_info {
        font-size: 15px!important;
    }
    .services_item_date_hour_title_icon_wrapper_title {
        font-size: 14px!important;
    }
    .services_item_date_hour_info1 {
        font-size: 14px!important;
    }
    .services_item_date_hour_info2 {
        font-size: 14px!important;
    }
    .recommendations_title {
        font-size: 26px!important;
        margin-bottom: 15px!important;
    }
    .services_search_input {
        font-size: 14px!important;
    }
    .services_search_input::placeholder {
        font-size: 14px!important;
    }
}

@media (max-width: 926px) {
  #freelancers_page .services_filter_items_wrapper {
        display: none!important;
    }
}

.filter_mobile_menu {
    position: fixed;
    background: #000000C7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    width: 100%;
    height: 100%
}
.filter_mobile_menu_wrapper {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 28px;
    position: relative;
    overflow-y: scroll;
}
.mobile_services_filter_items_wrapper {
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
}

.filter_mobile_menu_title_close_icon_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 15px;
    margin-bottom: 40px;
}
.filter_mobile_menu_close_btn {
    position: absolute;
    left: 15px;
    z-index: 999;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.filter_mobile_menu_title {
    font-family: "Inter", sans-serif;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
}


/* width */
.filter_mobile_menu_wrapper::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.filter_mobile_menu_wrapper::-webkit-scrollbar-track {
    background: #F5F5F5;
    border-radius: 10px;

}

/* Handle */
.filter_mobile_menu_wrapper::-webkit-scrollbar-thumb {
    background: #FF6C00;
    border-radius: 10px;
    height: 60px!important;
}

@media (min-width: 426px) and (max-width: 768px) {
    .services_item_address_info {
        font-size: 12px!important;
    }
    .services_item_info {
        font-size: 16px!important;
    }
}
@media (min-width: 376px) and (max-width: 426px) {
    .services_item_address_info {
        font-size: 12px!important;
    }
    .services_item_info {
        font-size: 15px!important;
    }
}
@media (min-width: 340px) and  (max-width: 376px) {
    .services_item_address_info {
        font-size: 12px!important;
    }
    .services_item_info {
        font-size: 15px!important;
    }
}
@media  (max-width: 340px) {
    .services_item_address_info {
        font-size: 10px!important;
    }
    .services_item_info {
        font-size: 14px!important;
    }

}


@media (min-width: 580px) and (max-width: 769px) {
    .footer {
        padding-bottom: 40px!important;
    }

}
@media (min-width: 426px) and (max-width: 580px) {

    .footer {
        padding-bottom: 30px!important;
    }
}
@media (max-width: 426px) {
    .footer {
        padding-bottom: 20px!important;
    }
}

@media (min-width: 336px) and (max-width: 362px) {
    .footer_ul_link{
        font-size: 14px!important;
    }
    .footer_app_link {
        width: 130px!important;
        height: 35px!important;
        margin-right: 10px!important;
    }
  .footer_google_link {
        width: 130px!important;
        height: 35px!important;
    }
}
@media  (max-width: 336px) {
    .footer_ul_link{
        font-size: 12px!important;
    }
   .footer_app_link {
        width: 125px!important;
        height: 35px!important;
        margin-right: 8px!important;
    }
  .footer_google_link {
        width: 125px!important;
        height: 35px!important;
    }
}
.services_item_name_address_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.pagination_links_wrapper {
    width: 100%;
    max-width: 398px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination_link {
    width: 40px;
    height: 40px;
    border: 1px solid #FF6C00;
    background: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.pagination_link_btn {
    width: 40px;
    height: 40px;
    border: 1px solid #FF6C00;
    background: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
}
.pagination_links_wrapper .pagination_link_btn:last-child svg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50%;
    transform: translate(-35%, -50%);
}
.pagination_links_wrapper .pagination_link_btn:first-child svg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50%;
    transform: translate(-66%, -50%);
}
.pagination_link_title {
    font-family: "Inter", sans-serif;
    color: #636363;
    font-weight: 400;
    font-size: 16px;
}
.pagination_link:hover {
    background: #FF6C00;
}

.pagination_link:hover .pagination_link_title{
    color: #ffffff;
}

.pagination_link.active {
    background: #FF6C00;
}

.pagination_link.active .pagination_link_title{
    color: #ffffff;
}


.freelancers_item {
    border-radius: 10px;
    cursor: pointer;
    width: 32%;
    box-shadow: 0px 4px 20px 0px #33333326;
    background: #ffffff;
    margin-bottom: 25px;
    border: none;
    outline: none;
}
.freelancers_item_user_img {
    position: relative;
    height: 225px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

}
.freelancers_item_user_img Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.freelancers_item_info_box {
    width: 100%;
    padding: 20px;
}
.freelancers_item_user_rating_icon {
    position: relative;
    width: 92px;
    height: 15px;
}
.freelancers_item_user_rating_icon Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.freelancers_item_user_name {
    color: #141933;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    text-align: left;

}
.freelancers_item_user_profession {
    color: #636363;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}
.freelancers_item_user_rating_icon_reviews_info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}

.freelancers_item_user_rating_info_wrapper {
    display: flex;
    align-items: center;
}

.freelancers_item_user_rating_info {
    color: #63636380;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin-left: 15px;
}

.freelancers_item_reviews_info {
    color: #63636380;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.freelancers_item_line {
    width: 100%;
    height: 1px;
    margin-bottom: 16px;
    background: #63636380;
}

.freelancers_item_user_service_info {
    color: #636363;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}
@media (min-width: 591px) and (max-width: 1145px) {
    .freelancers_item {
        width: 49% !important;
    }
}
@media (max-width: 591px) {
    .freelancers_item {
        width: 100% !important;
        margin-bottom: 20px!important;
    }
}

.services_items_wrapper_child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about_company_founders_wrapper_item {
    width: 48%;
}

.freelancers_item_user_header_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.freelancers_item_user_distance_info {
    color: #A6A6A6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;


}
